<mat-card>
<mat-form-field>
  <input #title="ngModel" required placeholder="Nom" type="text" matInput [(ngModel)]="inputTitle">
  <mat-error *ngIf="title.invalid">Entrez un nom valide</mat-error>
</mat-form-field>
<mat-form-field>
  <textarea #content="ngModel" required matInput placeholder="Email" rows=3 [(ngModel)]="inputContent"></textarea>
  <mat-error *ngIf="content.invalid">Entrez un email valide</mat-error>
</mat-form-field>
<button
mat-raised-button
color="primary"
(click)="addEmployee()">Ajouter employé</button>
</mat-card>
