<mat-accordion multi="true" *ngIf="lesEmployes.length>0">
  <mat-expansion-panel *ngFor="let post of lesEmployes; let i = index">
    <mat-expansion-panel-header>
      {{post.email}}
    </mat-expansion-panel-header>
    <p>{{post.nom}}</p>
    <!--<button mat-button color="primary">EDITER</button>-->
    <button name="deletebtn" value="{{post.id}}" mat-button color="warn" (click)=deleteEmployee()>SUPPRIMER</button>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="lesEmployes.length<=0" class="mat-body-1">Aucun employé trouvé !</p>
